#!/usr/bin/make -f
export PYBUILD_NAME=yavdr-webfrontend
export PYBUILD_SYSTEM=pyproject
export DEB_BUILD_OPTIONS=nocheck


%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_installsystemd:
	dh_installsystemd --name=yavdr-backend yavdr-backend.service
	dh_installsystemd --name=yavdr-system-backend yavdr-system-backend.service