body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #121212;
  color: whitesmoke;
}

.divider {
  background-color: #aaaaaa
}
.card {
  background-color: #212121;
  color: white;
}

.remote-btn {
  background-color: #424242; /*#1a237e;*/
  color: white;
  border-radius: 2px;
}

.remote-btn-round {
  background-color: #424242; /*#1a237e;*/
  color: white;
}

i.material-icons { vertical-align: middle !important; }

.meter { 
	height: 20px;  /* Can be anything */
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10%;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

main {
  flex: 1 0 auto;
}

a.btn {
  margin-top: 30%;
}

.modal {
  max-height: 100%;
  overflow: hidden;
}

input[type="submit"] {
  width: 100%;
  margin-top: 50px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  margin: 0;
}

.tabs .tab a {
  background-color: #333333 !important;
  color: rgba(38, 166, 154, 0.7) !important;
  /*Custom Text Color*/
}

.tabs .tab a:hover {
  background-color: #072d46 !important;
  
  color:#eeeeee !important;
  /*Custom Color On Hover*/
}

.tabs .tab a:focus.active {
  color:#eeeeee !important;
  /*Custom Text Color While Active*/
  background-color: rgba(4, 42, 47, 0.95) !important;
  /*Custom Background Color While Active*/
}

.tabs .indicator {
  background-color:#26a69a !important;
  /*Custom Color Of Indicator*/
}

.col-content {
  width: 98%;
}