a.btn {
  margin-top: 30%;
}

.modal {
  max-height: 100%;
  overflow: hidden;
}

input[type="submit"] {
  width: 100%;
  margin-top: 50px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  margin: 0;
}

meter {
  witdh: 100px;
  /*
  height: 25px;
  */
}

meter::-webkit-meter-bar {
  background: none; /* Required to get rid of the default background property */
  background-color: whiteSmoke;
  box-shadow: 0 5px 5px -5px #333 inset;
}