{% extends "layout.html" %}
{% block body %}
    <div class="container">
      <div class="row">
        <div id="introduction" class="col s12">
            <h1>yaVDR Web Frontend</h1>
            <p class="flow-text">It works!</p>
            <ul>
              <li>
                <a href="/api">yaVDR (mostly) RESTful API Documentation</a>
              </li>
              <li>
                <a href="/usage">Example System Information Page</a>
              </li>
            </ul>
        </div>
      </div>
    </div>
    
{% endblock body %}
