<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="css/materialize.min.css">
    <script src="js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>yaVDR Web API</title>
    <style>textarea.materialize-textarea{height: 4rem;}
    </style>
  </head>

<body>
  {% block body %}{% endblock body %}
</body>

</html>
