<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>

<body>
<div class="light-blue darken-3">
  <div class="container light-blue darken-4">
    <div class="card-panel light-blue darken-4 s12">
      <h1 class="light-blue darken-4 light-blue-text text-lighten-5">{{ title }}</h1>
      <p class="light-blue-text text-lighten-5">
        {{ data.release|join(' ') }} - Kernel {{ data.kernel }} <br> Average Load: {{ data.load_average|join(', ') }}
      </p>
    <div>
    <div class="row">
      <div class="col s12 l6">
        <div class="card ">
          <div class="card-content">
            <span class="card-title">CPU Usage</span>
            <table class="highlight">
              <thead>
                <th>Core</th>
                <th></th>
                <th class="right-align">Percent</th>
              </thead>
              {% for cpu in data.cpu_usage %}
              <tr style="font-family: monospace">
                <td>Core {{ loop.index }}</td>
                <td>
                  <meter max="100"
                         value="{{ cpu }}"
                         high="90"
                         title="{{ cpu }}%">
                </td>
                <td class="right-align">{{ cpu }} %</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
      <div class="col s12 l6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Memory Usage</span>
            <table class="highlight">
              <thead>
                <th>Type</th>
                <th class="right-align">Used</th>
                <th></th>
                <th class="right-align">Available</th>
                <th class="right-align">Total</th>
              </thead>
              <tr style="font-family: monospace">
                <td>RAM</td>
                <td class="right-align">{{ data.memory_usage.percent }} %</td>
                <td><meter max="100" value="{{ data.memory_usage.percent }}" title="{{ data.memory_usage.percent }}%"></td>
                <td class="right-align">{{ data.memory_usage.available_human.value }} {{ data.memory_usage.available_human.unit }}</td>
                <td class="right-align">{{ data.memory_usage.total_human.value }} {{ data.memory_usage.total_human.unit }}</td>
              </tr>
              <tr style="font-family: monospace">
                <td>SWAP</td>
                <td class="right-align">{{ data.swap_usage.percent }} %</td>
                <td><meter max="100" value="{{ data.swap_usage.percent }}" title="{{ data.swap_usage.percent }}%"></td>
                <td class="right-align">{{ data.swap_usage.free_human.value }} {{ data.swap_usage.free_human.unit }}</td>
                <td class="right-align">{{ data.swap_usage.total_human.value }} {{ data.swap_usage.total_human.unit }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col s12 l6">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">Disk Usage</span>
          <table class="highlight">
            <thead>
              <th>Block Device</th>
              <th>Mountpoint</th>
              <th >Used</th>
              <th class="right-align">Free</th>
              <th class="right-align">Total</th>
            </thead>
            {% for p in data.disk_usage|sort(attribute='device') %}
            <tr style="font-family: monospace">
              <td>{{ p.device }}</td>
              <td>{{ p.mountpoint }}</td>
              <td>
                <meter max="100"
                       value="{{ p.percent }}"
                       high="90"
              title="{{ p.percent }}% ({{ p.used_human.value }} {{ p.used_human.unit }}/{{ p.total_human.value }} {{ p.total_human.unit }})">
              </td>
              <td class="right-align">{{ p.free_human.value }} {{ p.free_human.unit }}</td>
              <td class="right-align">{{ p.total_human.value }} {{ p.total_human.unit }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  <div class="col s12 l6">
  {% if data.temperatures %}
    <div class="card ">
      <div class="card-content">
        <span class="card-title">Temperatures</span>
        <table class="highlight">
          <thead>
            <th>Device</th>
            <th></th>
            <th class="right-align">Temperature</th>
          </thead>
  	{% for k, d in data.temperatures.items() %}
          {% for t in d|default([]) %}
  	    {% if t.current > 0 %}
            <tr style="font-family: monospace">
              <td>{{ t.label }}</td>
  	    {% if t.high and t.critical %}
              <td><meter value="{{ t.current }}" high="{{t.high}}" max="{{t.critical}}", title="{{t.current}}°C"></td>
  	    {% else %}
              <td><meter value="{{ t.current }}" high="90" max="100", title="{{t.current}}°C"></td>
  	    {% endif %}
  	    <td class="right-align">{{ t.current }} °C</td>
            </tr>
  	    {% endif %}
          {% endfor %}
  	{% endfor %}
        </table>
      </div>  
    <div>
  </div>
  {% endif %}
  </div>
</div>

</body>
</html>
